@page
@model AuthEnabledWebApp.Views.Protected.IndexModel
@{
    ViewData["Title"] = "Protected Page";
}

<h1>Hello, @ViewData["Name"]</h1>
<p>This is a protected page accessible only after authentication.</p>
